### Metaprocessing pipelie for CFR model: ###
#### from .npy and .feather to files, studies, views, patient_split ####

Several scripts and notebooks to collect the names of all .npy files with metadata. These code pieces could eventually all be combined in a single script that does it all. We will leave them separate for now.

In [1]:
import os
import pandas as pd

In [3]:
meta_date = '200419'
cfr_dir = os.path.normpath('/mnt/obi0/andreas/data/cfr')
data_root = os.path.join(cfr_dir, 'metadata_'+meta_date)
print(data_root)

/mnt/obi0/andreas/data/cfr/metadata_200419

#### SCRIPT 1 collect_filenames.py : echo_npy_Files_BWH ####

In [4]:
file = 'echo_npyFiles_BWH_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
print(df.filename.iloc[0])
df.head(2)

4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_Image-4.npy.lz4

,filename,dir,study,mrn,datetime
0,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec,18789404,2015-08-11 16:05:24
1,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec,18789404,2015-08-11 16:05:24

#### collect_filenames.py : echo_featherFiles_BWH ####

In [5]:
file = 'echo_featherFiles_BWH_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
print(df.filename.iloc[0])
df.head(2)

4a1136622bb481fb_4903a5805096e280c9aae764c46e_study_metadata.feather

,filename,dir,study,mrn,datetime,dsc
0,4a1136622bb481fb_4903a5805096e280c9aae764c46e_...,/mnt/obi0/phi/echo/featherFiles/BWH/4a11,4a1136622bb481fb_4903a5805096e280c9aae764c46e,17876707,2015-01-05 13:13:54,study_metadata
1,4a113f43d5434a2a_4903a58dd540e4b17ab80775a78e_...,/mnt/obi0/phi/echo/featherFiles/BWH/4a11,4a113f43d5434a2a_4903a58dd540e4b17ab80775a78e,17130097,2018-03-27 14:59:30,video_metadata_withScale

#### collect_filenames.py : merge echo_npy_Files_BWH  + echo_featherFiles_BWH ####

In [6]:
file = 'echo_BWH_npy_feather_files_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
print(df.filename.iloc[0])
print(df.meta_filename.iloc[0])
df.head(2)

4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_Image-4.npy.lz4
4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_viewPredictionsVideo.feather

,filename,dir,study,mrn,datetime,meta_filename,meta_dir,dsc
0,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec,18789404,2015-08-11 16:05:24,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...,/mnt/obi0/phi/echo/featherFiles/BWH/4a1e,viewPredictionsVideo
1,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec,18789404,2015-08-11 16:05:24,4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...,/mnt/obi0/phi/echo/featherFiles/BWH/4a1e,video_metadata_24-07-2019

#### SCRIPT 2 collect_metadata.py : open meta files and merge with echo_BWH_npy_feather_files.parquet ####

In [8]:
file = 'echo_BWH_meta_cfr_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
print(df.filename.iloc[0])
df.head(2)

48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a_Image-81.npy.lz4

,filename,dir,study,mrn,datetime,fileid,institution,model,manufacturer,index,...,plax_laz,plax_laz_ao,plax_plax,psax_avz,psax_az,psax_mv,psax_pap,rvinf,subcostal,suprasternal
0,48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a_...,/mnt/obi0/phi/echo/npyFiles/BWH/48b0/48b09010a...,48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a,35154368,2017-06-29 13:59:05,48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a_...,BWH,iE33,Philips Medical Systems,0.0,...,1.798559e-16,6.010073e-17,1.035260e-15,4.169959e-22,4.270829e-17,3.529437e-16,7.931992e-14,4.603354e-18,5.119799e-20,3.677838e-17
1,48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a_...,/mnt/obi0/phi/echo/npyFiles/BWH/48b0/48b09010a...,48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a,35154368,2017-06-29 13:59:05,48b09010a09ba991_4903a582ec77f1640cdeecd8cb4a_...,BWH,iE33,Philips Medical Systems,0.0,...,1.900974e-12,2.668856e-14,5.122239e-13,1.466861e-16,2.361316e-14,3.318508e-13,8.564641e-11,1.485405e-14,6.088076e-14,2.630603e-14

#### NOTEBOOK 1 pet_echo_match_master.ipynb: Match ECHO videos with PET CFR labels ####
Match PET with ECHO studies

In [11]:
file = 'pet_match365_diff_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
df.head()

,mrn,study,pet_date,echo_date,petmrn_identifier,days_post_pet,difference(days)
5447,35169325,48b09013185d7d6b_4903a582ec77f16c8e735c3b6113,2017-05-22,2017-06-21,35169325_2017-05-22,30,30.0
5445,35133560,48b09016b25a7f36_4903a58dd44b7b81d524809aba5f,2018-04-25,2018-11-02,35133560_2018-04-25,191,191.0
5441,35014216,48b091b44637c987_4903a58c1bcb23767fc2818c6e63,2018-05-08,2019-04-25,35014216_2018-05-08,352,352.0
5443,35034941,48b091b6184a771a_4903a582ec751999e07cf30ae81a,2017-04-17,2017-04-18,35034941_2017-04-17,1,1.0
5442,35029545,48b091b714b41ffe_4903a582ec746dce5e9b6c1f4070,2017-07-24,2017-05-16,35029545_2017-07-24,-69,69.0

#### NOTEBOOK 2 pet_datasets.ipynb: Combine file names, cfr measurements and views ####

In [25]:
file = '210_getStressTest_match365_files_BWH_200131.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
df.head(2)

,mrn,study,echo_study_date,reportID,cfr_days_after_echo,subjectid,report_number,cfr_study_date,cfr_report_date,cfr,...,deltaX,deltaY,view_a2c,view_a3c,view_a4c,view_plax,view_psax,view_other,sum_views,max_view
0,9241,4b7b463ae45ad0e0_4903a585842a266f561aee3f563e,2010-04-02,100820,-64,121,EVS0228610,2010-01-28,2010-01-26,1.133683,...,0.027944,0.027944,0.976237,2.330583e-04,0.003341,0.000111,0.000771,0.019307,1.0,view_a2c
1,9241,4b7b463ae45ad0e0_4903a585842a266f561aee3f563e,2010-04-02,100820,-64,121,EVS0228610,2010-01-28,2010-01-26,1.133683,...,0.017671,0.017671,0.000001,2.221534e-07,0.000001,0.999354,0.000007,0.000637,1.0,view_plax

#### NOTEBOOK 3 cfr_datasets_patientsplit.ipynb: Split patients in train, val and test sets ####

In [21]:
file = '210_getStressTest_files_dset_BWH_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
df.head(2)

,mrn,study,echo_study_date,reportID,days_post_cfr,subjectid,report_number,cfr_study_date,cfr_report_date,cfr,...,deltaY,view_a2c,view_a3c,view_a4c,view_plax,view_psax,view_other,sum_views,max_view,dset
0,19552009,4a1fe3fa3b59598f_4903a44ab128db06815a5a27beb7,2009-03-16,93949,-3,2313,EVS0174900,2009-03-19,2009-03-16,0.917344,...,0.043478,1.195946e-09,2.604035e-10,1.177202e-11,7.296955e-11,1.568661e-10,1.000000,1.0,view_other,train
1,856583,4b7b4edf442dc65b_4903a444c238ffbb883255d8df4b,2007-12-13,78663,0,1616,0733707J,2007-12-13,2007-12-13,1.984074,...,0.033177,9.999722e-01,9.424114e-08,4.086143e-07,8.078747e-08,2.601775e-05,0.000001,1.0,view_a2c,train

### Echo video inventory ###
#### SCRIPT collect_filenames_dcm.py: collect all .dcm file names and decode MRNs from FS ####

In [8]:
# Complete set of .dcm files
file = 'echo_deIdentifyedEcho_BWH_dcm_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
print(df.shape)
df.head(2)

(2489078, 5)

,filename,dir,study,mrn,datetime
0,Image-4.dcm,/mnt/obi0/phi/echo/deIdentifyedEcho/BWH/48b3/4...,48b3dd6feca73d8c_4903a58dd540e605fed753883266,36876217,2018-03-05 09:00:07
1,Image-33.dcm,/mnt/obi0/phi/echo/deIdentifyedEcho/BWH/48b3/4...,48b3dd6feca73d8c_4903a58dd540e605fed753883266,36876217,2018-03-05 09:00:07

#### NOTEBOOK echo_pet_compare: compares PET studies from spreasheet with video files ####

In [9]:
# CFR MRNs without .npy data on disk
file = 'pet_no_npyFiles_BWH_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
df.head(2)

,reportID,mrn,subjectid,report_number,cfr_study_date,cfr_report_date,cfr,study,echo_study_date
0,72946,4474599,3,0904-0007,2007-09-28,2007-09-04,1.428232,None,NaT
1,91480,9774688,6,EVS0154093,2008-11-11,2008-11-11,2.015579,None,NaT

In [10]:
# CFR measurements with .npy data 
file = 'pet_npyFiles_BWH_'+meta_date+'.parquet'
df = pd.read_parquet(os.path.join(data_root, file))
df.head(2)

,reportID,mrn,subjectid,report_number,cfr_study_date,cfr_report_date,cfr,study,echo_study_date
0,78543,8880684,7,0802806B,2007-10-31,2008-01-29,2.401606,4b7351bee96d1016_4903a444c23a2830ab58223ad84d,2007-10-29
1,78543,8880684,7,0802806B,2007-10-31,2008-01-29,2.401606,4b7351bee96d1016_4903a444c30c185baf6a7befa860,2007-04-30

In [17]:
# Echo video .dcm inventory
df_pet_echo_nodcm_file = 'pet_echo_deIdentifyedEcho_BWH_nodcm_'+meta_date+'.parquet'
df_pet_echo_dcm_file = 'pet_echo_deIdentifyedEcho_BWH_dcm_'+meta_date+'.parquet'

df_pet_echo_nodcm = pd.read_parquet(os.path.join(data_root, df_pet_echo_nodcm_file))
df_pet_echo_dcm = pd.read_parquet(os.path.join(data_root, df_pet_echo_dcm_file))

print(df_pet_echo_nodcm.shape)
print(len(df_pet_echo_nodcm.mrn.unique()))
df_pet_echo_nodcm.head(2)

(1214, 3)
1214

     mrn study_date report_number
0  68189  22-Oct-13    EVS0446758
1  81182  17-Aug-07      0721092P